<%= render :partial => "/properties/tab_header", :layout => false %>

<br /><br />

<div id="" class="center">
  <%= link_to_remote "All", :url => property_comments_path(@property, :type => 'All'), :method => :get %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <%= link_to_remote "Admin", :url => property_comments_path(@property, :type => 'Admin'), :method => :get %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <%= link_to_remote "Accounting", :url => property_comments_path(@property, :type => 'Accounting'), :method => :get %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  
  <%= link_to_remote "Code Violations", :url => property_comments_path(@property, :type => 'Code Violations'), :method => :get %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <%= link_to_remote "Escrow", :url => property_comments_path(@property, :type => 'Escrow'), :method => :get %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <%= link_to_remote "Offers", :url => property_comments_path(@property, :type => 'Offers'), :method => :get %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <%= link_to_remote "Property Management", :url => property_comments_path(@property, :type => 'Property Management'), :method => :get %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  
  <%= link_to_remote "Relocations", :url => property_comments_path(@property, :type => 'Relocations'), :method => :get %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <%= link_to_remote "Repairs", :url => property_comments_path(@property, :type => 'Repairs'), :method => :get %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <%= link_to_remote "Utilities", :url => property_comments_path(@property, :type => 'Utilities'), :method => :get %>
</div>

<!--div id="" class="center">
  Filter By:<br />
  <%# select_tag "filter", options_for_select(["", "Accounting", "Admin", "Code_Violations", "Escrow", "Relocations", "Offers", "Repairs", "Utilities"]) %>
  <%# observe_field :filter, :url => { :action => 'index' }, :method => :get, :update => :comments, :with => 'type' %>
  
</div-->

<br /><br />

<%= link_to_remote "Sort by Most Recent", :url => property_comments_path(@property, :type => @type, :order => 'DESC'), :method => :get %><br />
<%= link_to_remote "Sort by Oldest", :url => property_comments_path(@property, :type => @type, :order => 'ASC'), :method => :get %><br /><br />

<div id="comments">
  <%= render :partial => 'comment', :collection => @comments %>
</div>

<br /><br />

<% form_remote_for :comment, :url => property_comments_path(@property), :html => { :id => 'comment_form' } do |f| %>
  <%= f.select :level, @categories %><br />
  <%= f.text_area :text, :rows => 5, :cols => 139 %><br />
  <%= f.hidden_field :user_id, :value => @current_user.id %>
  <%= f.hidden_field :property_id, :value => @property.id %>
  <%= submit_tag 'Comment' %>
<% end %>