<%= render :partial => "/properties/tab_header", :layout => false %>

<div id="" class="center">
  Filter By:<br />
  <%= select_tag "filter", options_for_select(["", "All", "Admin", "Accounting", "BPO", "Code Violations", "Escrow", "IT", "Listings", "NAWRB", "Offers", "Property Management", "Relocations", "Repairs", "Utilities"]) %>
  <%= observe_field :filter, :url => { :action => 'index' }, :method => :get, :with => 'type' %><br /><br />
  
  <%= link_to_remote "Sort by Most Recent", :url => property_comments_path(@property, :type => @type, :order => 'DESC'), :method => :get %><br />
  <%= link_to_remote "Sort by Oldest", :url => property_comments_path(@property, :type => @type, :order => 'ASC'), :method => :get %><br /><br />
</div>

<br />

<% form_remote_for :comment, :url => property_comments_path(@property), :html => { :id => 'comment_form' } do |f| %>
  <%= f.select :level, @categories %><br />
  <%= f.text_area :text, :rows => 5, :cols => 139 %><br />
  <%= f.hidden_field :user_id, :value => @current_user.id %>
  <%= f.hidden_field :property_id, :value => @property.id %>
  <%= submit_tag 'Comment' %>
<% end %>

<br /><br />
  
<div id="comments">
  <%= render :partial => 'comment', :collection => @comments %>
</div>

<br /><br />

<% form_remote_for :comment, :url => property_comments_path(@property), :html => { :id => 'comment_form' } do |f| %>
  <%= f.select :level, @categories %><br />
  <%= f.text_area :text, :rows => 5, :cols => 139 %><br />
  <%= f.hidden_field :user_id, :value => @current_user.id %>
  <%= f.hidden_field :property_id, :value => @property.id %>
  <%= submit_tag 'Comment' %>
<% end %>