<% title "Add User" %>

<%= error_messages_for 'user' %>

<% form_for @user do |f| %>

<table>
  <tr>
    <td>Username</td>
    <td><%= text_field :user, :username, :size => '30' %></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><%= password_field :user, :password, :size => '30' %></td>
  </tr>
  <tr>
    <td>First Name</td>
    <td><%= text_field :user, :first_name, :size => '30' %></td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td><%= text_field :user, :last_name, :size => '30' %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= text_field :user, :email, :size => '30' %></td>
  </tr>
  <tr>
    <td>Department</td>
    <td><%= select :user, :level, ["Accounting", "Admin", "BPO", "Code Violations", "Escrow", "Field Inspectors", "Listings", "NAWRB", "Offers", "Property Management", "Reception", "Relocations", "Repairs", "Utilities"] %></td>
  </tr>
</table>
<br />

<p>
  <%= submit_tag %>
</p>

<% end %>
