<h2>Edit Property</h2>
<br />

<script type="text/javascript">
  document.observe('dom:loaded', function(event) {
    Editable.setupAll();
  });
</script>

<%= error_messages_for 'property' %>

<%= form_tag( :controller => 'properties', :action => 'edit' ) %>

<table id="property_edit">
  <tr>
    <td class="valign_top">
      <h3>Address</h3>
      <table>
        <tr>
          <td>#</td>
          <td><%= edit_in_place(@property, :street_num) %></td>
        </tr>
        <tr>
          <td>Street Name</td>
          <td><%= edit_in_place(@property, :street) %></td>
        </tr>
        <tr>
          <td>City</td>
          <td><%= edit_in_place(@property, :city) %></td>
        </tr>
        <tr>
          <td>State</td>
          <td><%= select :property, :state, %w(CA AL AK AS AZ AR CO CT DE DC FM FL GA GU HI ID IL IN IA KS KY LA ME MH MD MA MI MN MS MO MT NE NV NH NJ NM NY NC ND MP OH OK OR PW PA PR RI SC SD TN TX UT VT VI VA WA WV WI WY) %></td>
        </tr>
        <tr>
          <td>Zip</td>
          <td><%= edit_in_place(@property, :zip) %></td>
        </tr>
        <tr>
          <td>Unit</td>
          <td><%= edit_in_place(@property, :unit) %></td>
        </tr>
        <tr>
          <td>Floor</td>
          <td><%= edit_in_place(@property, :floor) %></td>
        </tr>
        <tr>
          <td>Building</td>
          <td><%= edit_in_place(@property, :building) %></td>
        </tr>
      </table>
      <br />

      <h3>Pricing</h3>
      <table>
        <tr>
          <td>List Price</td>
          <td><%= edit_in_place(@property, :list_price) %></td>
        </tr>
        <tr>
          <td>Sale Price</td>
          <td><%= edit_in_place(@property, :sale_price) %></td>
        </tr>
        <tr>
          <td>Price Range</td>
          <td><%= edit_in_place(@property, :price_range_low) %>-<%= edit_in_place(@property, :price_range_high) %></td>
        </tr>
        <tr>
          <td>Commission</td>
          <td><%= edit_in_place(@property, :commission) %></td>
        </tr>
      </table>
      <br />

      <h3>Financial</h3>
      <table>
        <tr>
          <td>Tax Roll #</td>
          <td><%= edit_in_place(@property, :fin_tax_roll_num) %></td>
        </tr>
        <tr>
          <td>Taxes</td>
          <td><%= edit_in_place(@property, :fin_taxes) %></td>
        </tr>
        <tr>
          <td>Tax Year</td>
          <td><%= edit_in_place(@property, :fin_tax_year) %></td>
        </tr>
        <tr>
          <td>Tax Assessment</td>
          <td><%= edit_in_place(@property, :fin_tax_assessment) %></td>
        </tr>
        <tr>
          <td>Land Assessment</td>
          <td><%= edit_in_place(@property, :fin_land_assessment) %></td>
        </tr>
        <tr>
          <td>Building Improvement</td>
          <td><%= edit_in_place(@property, :fin_building_improvement) %></td>
        </tr>
        <tr>
          <td>Financing</td>
          <td><%= edit_in_place(@property, :fin_financial) %></td>
        </tr>
      </table>
      <br />

      <h3>HOA</h3>
      <table>
        <tr>
          <td>HOA Name</td>
          <td><%= edit_in_place(@property, :hoa_name) %></td>
        </tr>
        <tr>
          <td>Contact Person</td>
          <td><%= edit_in_place(@property, :hoa_contact_person) %></td>
        </tr>
        <tr>
          <td>Phone Number</td>
          <td><%= edit_in_place(@property, :hoa_phone) %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= edit_in_place(@property, :hoa_address) %></td>
        </tr>
        <tr>
          <td>Monthly Fee</td>
          <td><%= edit_in_place(@property, :hoa_monthly_fee) %></td>
        </tr>
        <tr>
          <td>Last Payment</td>
          <td><%= edit_in_place(@property, :hoa_last_payment) %></td>
        </tr>
        <tr>
          <td>Payments Due</td>
          <td><%= edit_in_place(@property, :hoa_payments_due) %></td>
        </tr>
        <tr>
          <td>Services Included</td>
          <td><%= edit_in_place(@property, :hoa_services_included) %></td>
        </tr>
        <tr>
          <td>Supplements</td>
          <td><%= edit_in_place(@property, :hoa_supplements) %></td>
        </tr>
        <tr>
          <td>HOA Code Violations</td>
          <td><%= edit_in_place(@property, :hoa_code_violations) %></td>
        </tr>
        <tr>
          <td>Sign Posting Complications</td>
          <td><%= edit_in_place(@property, :hoa_sign_complications) %></td>
        </tr>
        <tr>
          <td>Gate Code</td>
          <td><%= edit_in_place(@property, :hoa_gate_code) %></td>
        </tr>
      </table>
      <br />
    </td>
    <td class="valign_top">
      <h3>Status</h3>
      <table>
        <tr>
          <td>MLS Number</td>
          <td><%= edit_in_place(@property, :mls) %></td>
        </tr>
        <tr>
          <td>REO Number</td>
          <td><%= edit_in_place(@property, :reo) %></td>
        </tr>
        <tr>
          <td>Escrow Number</td>
          <td><%= edit_in_place(@property, :esc) %></td>
        </tr>
        <tr>
          <td>Status</td>
          <td><%= select :property, :status, %w(Active Closed Pending) %></td>
        </tr>
        <tr>
          <td>Occupancy</td>
          <td><%= select :property, :occupancy, %w(Occupied Vacant) %></td>
        </tr>
        <tr>
          <td>Primary Seller</td>
          <td><%= select :property, :primary_seller, %w(Seller1 Seller2 Seller3) %></td>
        </tr>
        <tr>
          <td>Listing Date</td>
          <td><%= edit_in_place(@property, :listing_date) %></td>
        </tr>
        <tr>
          <td>Listing Term</td>
          <td><%= edit_in_place(@property, :listing_term) %></td>
        </tr>
        <tr>
          <td>Closing Date</td>
          <td><%= edit_in_place(@property, :closing_date) %></td>
        </tr>
      </table>
      <br />

      <h3>Property Details</h3>
      <table>
        <tr>
          <td>Sq. Ft.</td>
          <td><%= edit_in_place(@property, :feat_sq_ft) %></td>
        </tr>
        <tr>
          <td>Lot Size</td>
          <td><%= edit_in_place(@property, :feat_lot_size) %></td>
        </tr>
        <tr>
          <td>Property Type</td>
          <td><%= edit_in_place(@property, :prop_type) %></td>
        </tr>
        <tr>
          <td>House Style</td>
          <td><%= edit_in_place(@property, :prop_style) %></td>
        </tr>
        <tr>
          <td>Built</td>
          <td><%= edit_in_place(@property, :year_built) %></td>
        </tr>
        <tr>
          <td>Last Sold</td>
          <td><%= edit_in_place(@property, :last_sold) %></td>
        </tr>
        <tr>
          <td>Area</td>
          <td><%= edit_in_place(@property, :area) %></td>
        </tr>
        <tr>
          <td>Zoning</td>
          <td><%= edit_in_place(@property, :zoning) %></td>
        </tr>
      </table>
      <br />

      <h3>Features</h3>
      <table>
        <tr>
          <td>Floors</td>
          <td><%= edit_in_place(@property, :feat_floors) %></td>
        </tr>
        <tr>
          <td>Beds</td>
          <td><%= edit_in_place(@property, :feat_num_bedrooms) %></td>
        </tr>
        <tr>
          <td>Baths</td>
          <td><%= edit_in_place(@property, :feat_num_bathrooms) %></td>
        </tr>
        <tr>
          <td>Flooring</td>
          <td><%= edit_in_place(@property, :feat_flooring) %></td>
        </tr>
        <tr>
          <td>Heating</td>
          <td><%= edit_in_place(@property, :feat_heating) %></td>
        </tr>
        <tr>
          <td>A/C</td>
          <td><%= edit_in_place(@property, :feat_a_c) %></td>
        </tr>
        <tr>
          <td>Fireplace</td>
          <td><%= edit_in_place(@property, :feat_fireplace) %></td>
        </tr>
        <tr>
          <td>Basement</td>
          <td><%= edit_in_place(@property, :feat_basement) %></td>
        </tr>
        <tr>
          <td>Parking</td>
          <td><%= edit_in_place(@property, :feat_parking) %></td>
        </tr>
        <tr>
          <td>View</td>
          <td><%= edit_in_place(@property, :feat_view) %></td>
        </tr>
      </table>
      <br />

      <h3>Materials</h3>
      <table>
        <tr>
          <td>Construction</td>
          <td><%= edit_in_place(@property, :mat_construction) %></td>
        </tr>
        <tr>
          <td>Exterior</td>
          <td><%= edit_in_place(@property, :mat_exterior) %></td>
        </tr>
        <tr>
          <td>Roof</td>
          <td><%= edit_in_place(@property, :mat_roof) %></td>
        </tr>
        <tr>
          <td>Sewer</td>
          <td><%= edit_in_place(@property, :mat_sewer) %></td>
        </tr>
        <tr>
          <td>Water</td>
          <td><%= edit_in_place(@property, :mat_water) %></td>
        </tr>
        <tr>
          <td>Septic</td>
          <td><%= edit_in_place(@property, :mat_septic) %></td>
        </tr>
      </table>
      <br />
    </td>
  </tr>
</table>

<h3>Property Description</h3>
<%= text_area_tag(:description, "", :size => "93x5") %>

<p>
  <%= submit_tag %>
</p>

