<tr>
  <td class="noborder"><%= link_to 'View', edit_property_path(property.id) %></td>
  <td><%= property.street_num %>
  <%= property.street %>
  <%= property.city %>,
  <%= property.state %>
  <%= property.zip %></td>
  <td><%= property.status %></td>
  <td><%= property.primary_seller %> </td>

</tr>