<% title "#{@property.street_num} #{@property.street} #{@property.city}, #{@property.state} #{@property.zip}" %>

<div id="sub_nav" class="center">
  <%= link_to "Property Details", property_path(@property) %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <%= link_to "Comments", property_comments_path(@property) %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <%= link_to "Contacts", contacts_property_path(@property) %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <%= link_to "Photos", :controller => 'properties', :action => 'photos', :id => @property %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <%= link_to "Documents", :controller => 'properties', :action => 'documents', :id => @property %>&nbsp;&nbsp;&nbsp;
</div>

<div id="closing_tag">
  Closing Date:<br />
  <% if !@property.closing_date.nil? %>
      <%= @property.closing_date %>
  <% else %>
      <span class="italic">No Closing Date Yet</span>
  <% end %>
</div><br />

<table id="quick_contact">
  <tr>
    <th>
      Escrow
    </th>
    <th>
      Selling Agent
    </th>
    <th>
      Lender
    </th>
    <th>
      Capital Bid
    </th>
  </tr>
  <tr>
    <td>
      <% if !@hc_escrow.nil? %>
      <%= @hc_escrow.first_name %> <%= @hc_escrow.last_name %><br />
      <a href="mailto:<%= @hc_escrow.email %>"><%= @hc_escrow.email %></a><br />
      <%= @hc_escrow.work_phone %><br />
      <% end %>
    </td>
    <td>
      <% if !@hc_selling_agent.nil? %>
      <%= @hc_selling_agent.first_name %> <%= @hc_selling_agent.last_name %><br />
      <a href="mailto:<%= @hc_selling_agent.email %>"><%= @hc_selling_agent.email %></a><br />
      <%= @hc_selling_agent.work_phone %><br />
      <% end %>
    </td>
    <td>
      <% if !@hc_lender.nil? %>
      <%= @hc_lender.first_name %> <%= @hc_lender.last_name %><br />
      <a href="mailto:<%= @hc_lender.email %>"><%= @hc_lender.email %></a><br />
      <%= @hc_lender.work_phone %><br />
      <% end %>
    </td>
    <td>
      <% if !@hc_capital_bid.nil? %>
      <%= @hc_capital_bid.first_name %> <%= @hc_capital_bid.last_name %><br />
      <a href="mailto:<%= @hc_capital_bid.email %>"><%= @hc_capital_bid.email %></a><br />
      <%= @hc_capital_bid.work_phone %><br />
      <% end %>
    </td>
  </tr>
</table>
<br />
<div id="center_align">
  Email Subject:<br />
  <%= eip({:model => 'property', :field => 'email_header', :id => @property.id.to_s, :val => @property.email_header.to_s}) %>
</div>
<br />