<%= render :partial => "tab_header", :layout => false %>
<br /><br /><br />


<div class="float_left">
  <h2>City</h2>
  <div id="browse_table">
    <%= render :partial => "contacts/contact_list_short", :layout => false %>
  </div>
  <br /><%= link_to 'Add City Contact', new_contact_path({ :pid => @property.id, :ctype => 'city' }) %><br /><br /><br />

  <h2>Servicer</h2>
  <div id="browse_table">
    <%= render :partial => "contacts/contact_list_short", :layout => false %>
  </div>
  <br /><%= link_to 'Add Servicer Contact', new_contact_path({ :pid => @property.id, :ctype => 'servicer' }) %><br /><br /><br />

  <h2>Owner</h2>
  <div id="browse_table">
    <%= render :partial => "contacts/contact_list_short", :layout => false %>
  </div>
  <br /><%= link_to 'Add Owner Contact', new_contact_path({ :pid => @property.id, :ctype => 'owner' }) %><br /><br /><br />

  <h2>Noteholder</h2>
  <div id="browse_table">
    <%= render :partial => "contacts/contact_list_short", :layout => false %>
  </div>
  <br /><%= link_to 'Add Noteholder Contact', new_contact_path({ :pid => @property.id, :ctype => 'noteholder' }) %><br /><br /><br />

  <h2>Preservation Company</h2>
  <div id="browse_table">
    <%= render :partial => "contacts/contact_list_short", :layout => false %>
  </div>
  <br /><%= link_to 'Add Preservation Company Contact', new_contact_path({ :pid => @property.id, :ctype => 'preservation_company' }) %><br /><br /><br />

  <h2>Other</h2>
  <div id="browse_table">
    <%= render :partial => "contacts/contact_list_short", :layout => false %>
  </div>
  <br /><%= link_to 'Add Other Contact', new_contact_path({ :pid => @property.id, :ctype => 'other' }) %><br /><br /><br />
</div>



<div id="contact_div" class="float_right">
    <h2>Comments</h2>
    <div id="" class="cente">
      <%= link_to_remote "All", :url => property_comments_path(@property, :type => 'All'), :method => :get %>&nbsp;&nbsp;&nbsp;
      <%= link_to_remote "Admin", :url => property_comments_path(@property, :type => 'Admin'), :method => :get %>&nbsp;&nbsp;&nbsp;
      <%= link_to_remote "Accounting", :url => property_comments_path(@property, :type => 'Accounting'), :method => :get %>&nbsp;&nbsp;&nbsp;
      <%= link_to_remote "Code Violations", :url => property_comments_path(@property, :type => 'Code_Violations'), :method => :get %>&nbsp;&nbsp;&nbsp;
      <%= link_to_remote "Escrow", :url => property_comments_path(@property, :type => 'Escrow'), :method => :get %>&nbsp;&nbsp;&nbsp;<br />
      <%= link_to_remote "Offers", :url => property_comments_path(@property, :type => 'Offers'), :method => :get %>&nbsp;&nbsp;&nbsp;
      <%= link_to_remote "Relocations", :url => property_comments_path(@property, :type => 'Relocations'), :method => :get %>&nbsp;&nbsp;&nbsp;
      <%= link_to_remote "Repairs", :url => property_comments_path(@property, :type => 'Repairs'), :method => :get %>&nbsp;&nbsp;&nbsp;
      <%= link_to_remote "Utilities", :url => property_comments_path(@property, :type => 'Utilities'), :method => :get %>
    </div>

    <br /><br />

    <%= link_to_remote "Sort by Most Recent", :url => property_comments_path(@property, :type => @type, :order => 'DESC'), :method => :get %>&nbsp;&nbsp;&nbsp;
    <%= link_to_remote "Sort by Oldest", :url => property_comments_path(@property, :type => @type, :order => 'ASC'), :method => :get %><br /><br />

    <div id="comments">
      <%= render :partial => 'comments/comment', :collection => @comments %>
    </div>

    <br /><br />

    <% form_remote_for :comment, :url => property_comments_path(@property), :html => { :id => 'comment_form' } do |f| %>
      <%= f.select :level, %w(Accounting Admin Code_Violations Escrow Relocations Offers Repairs Utilities) %><br />
      <%= f.text_area :text, :rows => 5, :cols => 66 %><br />
      <%= f.hidden_field :user_id, :value => @current_user.id %>
      <%= f.hidden_field :property_id, :value => @property.id %>
      <%= submit_tag 'Comment' %>
    <% end %>



  </div>




<div id="form_bottom"></div>