<% title "Properties Home" %>

<div id="browse_table">
<table>
  <caption>Recently Updated Properties</caption>
  <thead>
    <tr>
      <th></th>
      <th>Address</th>
      <th>Status</th>
      <th>Seller</th>
      <th>List Date</th>
      <th>Closing</th>
      <th>MLS #</th>
      <th>Updated</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @recently_updated.each do |i| %>
    <tr class="<%= cycle("even","odd") %>">
      <td class="noborder"><%= link_to 'View', property_path(i.id) %></td>
      <td><%= i.street_num %> <%= i.street %> <%= i.city %> <%= i.state %>, <%= i.zip %></td>
      <td><%= i.status %></td>
      <td><%= i.primary_seller %></td>
      <td><%= i.listing_date %></td>
      <td><%= i.closing_date %></td>
      <td><%= i.mls %></td>
      <td><%= i.updated_at.strftime('%m.%d.%y') %></td>
      <td><%= i.created_at.strftime('%m.%d.%y') %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />
<br />

<table>
  <caption>Recently Added Properties</caption>
  <thead>
    <tr>
      <th></th>
      <th>Address</th>
      <th>Status</th>
      <th>Seller</th>
      <th>List Date</th>
      <th>Closing</th>
      <th>MLS #</th>
      <th>Updated</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @recently_created.each do |i| %>
    <tr class="<%= cycle("even","odd") %>">
      <td class="noborder"><%= link_to 'View', property_path(i.id) %></td>
      <td><%= i.street_num %> <%= i.street %> <%= i.city %> <%= i.state %>, <%= i.zip %></td>
      <td><%= i.status %></td>
      <td><%= i.primary_seller %></td>
      <td><%= i.listing_date %></td>
      <td><%= i.closing_date %></td>
      <td><%= i.mls %></td>
      <td><%= i.updated_at.strftime('%m.%d.%y') %></td>
      <td><%= i.created_at.strftime('%m.%d.%y') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>