<% title "Add Property" %>

<%= error_messages_for 'property' %>

<% form_for @property do |f| %>

<div id="property_div" class="float_left">
      <h3>Address</h3>
      <table>
        <tr class="required">
          <td># *</td>
          <td><%= text_field :property, :street_num, :size => '30' %></td>
        </tr>
        <tr>
          <td>Direction</td>
          <td><%= text_field :property, :direction, :size => '30' %></td>
        </tr>
        <tr class="required">
          <td>Street Name *</td>
          <td><%= text_field :property, :street, :size => '30' %></td>
        </tr>
        <tr class="required">
          <td>City *</td>
          <td><%= text_field :property, :city, :size => '30' %></td>
        </tr>
        <tr class="required">
          <td>State *</td>
          <td><%= select :property, :state, %w(CA AL AK AS AZ AR CO CT DE DC FM FL GA GU HI ID IL IN IA KS KY LA ME MH MD MA MI MN MS MO MT NE NV NH NJ NM NY NC ND MP OH OK OR PW PA PR RI SC SD TN TX UT VT VI VA WA WV WI WY) %></td>
        </tr>
        <tr class="required">
          <td>Zip *</td>
          <td><%= text_field :property, :zip, :size => '30' %></td>
        </tr>
        <tr>
          <td>Unit</td>
          <td><%= text_field :property, :unit, :size => '30' %></td>
        </tr>
        <tr>
          <td>Floor</td>
          <td><%= text_field :property, :floor, :size => '30' %></td>
        </tr>
        <tr>
          <td>Building</td>
          <td><%= text_field :property, :building, :size => '30' %></td>
        </tr>
      </table>
      <br />
      
      <h3>Property Details</h3>
      <table>
        <tr>
          <td>Sq. Ft.</td>
          <td><%= text_field :property, :feat_sq_ft, :size => '30' %></td>
        </tr>
        <tr>
          <td>Lot Size</td>
          <td><%= text_field :property, :feat_lot_size, :size => '30' %></td>
        </tr>
        <tr>
          <td>Property Type</td>
          <td><%= text_field :property, :prop_type, :size => '30' %></td>
        </tr>
        <tr>
          <td>House Style</td>
          <td><%= text_field :property, :prop_style, :size => '30' %></td>
        </tr>
        <tr>
          <td>Built</td>
          <td><%= text_field :property, :year_built, :size => '30' %></td>
        </tr>
        <tr>
          <td>Last Sold</td>
          <td><%= text_field :property, :last_sold, :size => '30' %></td>
        </tr>
        <tr>
          <td>Area</td>
          <td><%= text_field :property, :area, :size => '30' %></td>
        </tr>
        <tr>
          <td>Zoning</td>
          <td><%= text_field :property, :zoning, :size => '30' %></td>
        </tr>
      </table>
      <br />
      
      <h3>Features</h3>
      <table>
        <tr>
          <td>Floors</td>
          <td><%= text_field :property, :feat_floors, :size => '30' %></td>
        </tr>
        <tr>
          <td>Beds</td>
          <td><%= text_field :property, :feat_num_bedrooms, :size => '30' %></td>
        </tr>
        <tr>
          <td>Baths</td>
          <td><%= text_field :property, :feat_num_bathrooms, :size => '30' %></td>
        </tr>
        <tr>
          <td>Flooring</td>
          <td><%= text_field :property, :feat_flooring, :size => '30' %></td>
        </tr>
        <tr>
          <td>Heating</td>
          <td><%= text_field :property, :feat_heating, :size => '30' %></td>
        </tr>
        <tr>
          <td>A/C</td>
          <td><%= text_field :property, :feat_a_c, :size => '30' %></td>
        </tr>
        <tr>
          <td>Fireplace</td>
          <td><%= text_field :property, :feat_fireplace, :size => '30' %></td>
        </tr>
        <tr>
          <td>Basement</td>
          <td><%= text_field :property, :feat_basement, :size => '30' %></td>
        </tr>
        <tr>
          <td>Parking</td>
          <td><%= text_field :property, :feat_parking, :size => '30' %></td>
        </tr>
        <tr>
          <td>View</td>
          <td><%= text_field :property, :feat_view, :size => '30' %></td>
        </tr>
      </table>
      <br />

      

      <h3>HOA</h3>
      <table>
        <tr>
          <td>HOA Name</td>
          <td><%= text_field :property, :hoa_name, :size => '30' %></td>
        </tr>
        <tr>
          <td>Contact Person</td>
          <td><%= text_field :property, :hoa_contact_person, :size => '30' %></td>
        </tr>
        <tr>
          <td>Phone Number</td>
          <td><%= text_field :property, :hoa_phone, :size => '30' %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= text_field :property, :hoa_address, :size => '30' %></td>
        </tr>
        <tr>
          <td>Monthly Fee</td>
          <td><%= text_field :property, :hoa_monthly_fee, :size => '30' %></td>
        </tr>
        <tr>
          <td>Last Payment</td>
          <td><%= text_field :property, :hoa_last_payment, :size => '30' %></td>
        </tr>
        <tr>
          <td>Payments Due</td>
          <td><%= text_field :property, :hoa_payments_due, :size => '30' %></td>
        </tr>
        <tr>
          <td>Services Included</td>
          <td><%= text_field :property, :hoa_services_included, :size => '30' %></td>
        </tr>
        <tr>
          <td>Supplements</td>
          <td><%= text_field :property, :hoa_supplements, :size => '30' %></td>
        </tr>
        <tr>
          <td>HOA Code Violations</td>
          <td><%= text_field :property, :hoa_code_violations, :size => '30' %></td>
        </tr>
        <tr>
          <td>Sign Complications</td>
          <td><%= text_field :property, :hoa_sign_complications, :size => '30' %></td>
        </tr>
        <tr>
          <td>Gate Code</td>
          <td><%= text_field :property, :hoa_gate_code, :size => '30' %></td>
        </tr>
      </table>
      <br />
</div>


<div id="property_div" class="float_right">
      <h3>Status</h3>
      <table>
        <tr>
          <td>MLS Number</td>
          <td><%= text_field :property, :mls, :size => '30' %></td>
        </tr>
        <tr>
          <td>REO Number</td>
          <td><%= text_field :property, :reo, :size => '30' %></td>
        </tr>
        <tr>
          <td>Escrow Number</td>
          <td><%= text_field :property, :esc, :size => '30' %></td>
        </tr>
        <tr>
          <td>Status</td>
          <td><%= select :property, :status, %w(Active Closed Pending Rented) %></td>
        </tr>
        <tr>
          <td>Occupancy</td>
          <td><%= select :property, :occupancy, ["Occupied", "PP", "Vacant"] %></td>
        </tr>
        <tr class="required">
          <td>Primary Seller *</td>
          <td><%= text_field :property, :primary_seller, :size => '30' %></td>
        </tr>
        <tr>
          <td>Primary Sales Rep</td>
          <td><%= text_field :property, :seller_name, :size => '30' %></td>
        </tr>
        <tr>
          <td>Listing Date</td>
          <td><%= text_field :property, :listing_date, :size => '30' %></td>
        </tr>
        <tr>
          <td>Listing Expiration</td>
          <td><%= text_field :property, :listing_term, :size => '30' %></td>
        </tr>
        <tr>
          <td>Closing Date</td>
          <td><%= text_field :property, :closing_date, :size => '30' %></td>
        </tr>
        <tr>
          <td>Showing Instructions</td>
          <td><%= text_field :property, :showing_instructions, :size => '30' %></td>
        </tr>
      </table>
      <br />

      <h3>Pricing</h3>
      <table>
        <tr>
          <td>List Price</td>
          <td><%= text_field :property, :list_price, :size => '30' %></td>
        </tr>
        <tr>
          <td>Sale Price</td>
          <td><%= text_field :property, :sale_price, :size => '30' %></td>
        </tr>
        <tr>
          <td>Purchase Price</td>
          <td><%= text_field :property, :purchase_price, :size => '30' %></td>
        </tr>
        <tr>
          <td>Price Range</td>
          <td><%= text_field :property, :price_range, :size => '30' %></td>
        </tr>
        <tr>
          <td>Commission</td>
          <td><%= text_field :property, :commission, :size => '30' %></td>
        </tr>
        <tr>
          <td>Terms</td>
          <td><%= text_field :property, :terms, :size => '30' %></td>
        </tr>
      </table>
      <br />
      
      <h3>Selling</h3>
      <table>
        <tr>
          <td>Listing Date</td>
          <td><%= text_field :property, :listing_date, :size => '30' %></td>
        </tr>
        <tr>
          <td>Listing Expiration</td>
          <td><%= text_field :property, :listing_term, :size => '30' %></td>
        </tr>
        <tr>
          <td>Closing Date</td>
          <td><%= text_field :property, :closing_date, :size => '30' %></td>
        </tr>
        <tr>
          <td>Showing Instructions</td>
          <td><%= text_field :property, :showing_instructions, :size => '30' %></td>
        </tr>
        <tr>
          <td>Lock Box Code</td>
          <td><%= text_field :property, :lockbox, :size => '30' %></td>
        </tr>
        <tr>
          <td>MMR Date</td>
          <td><%= text_field :property, :mmr, :size => '30' %></td>
        </tr>
      </table>
      <br />

      <h3>Financial</h3>
      <table>
        <tr>
          <td>Tax Roll #</td>
          <td><%= text_field :property, :fin_tax_roll_num, :size => '30' %></td>
        </tr>
        <tr>
          <td>Taxes</td>
          <td><%= text_field :property, :fin_taxes, :size => '30' %></td>
        </tr>
        <tr>
          <td>Tax Year</td>
          <td><%= text_field :property, :fin_tax_year, :size => '30' %></td>
        </tr>
        <tr>
          <td>Tax Assessment</td>
          <td><%= text_field :property, :fin_tax_assessment, :size => '30' %></td>
        </tr>
        <tr>
          <td>Land Assessment</td>
          <td><%= text_field :property, :fin_land_assessment, :size => '30' %></td>
        </tr>
        <tr>
          <td>Building Improvement</td>
          <td><%= text_field :property, :fin_building_improvement, :size => '30' %></td>
        </tr>
        <tr>
          <td>Financing</td>
          <td><%= text_field :property, :fin_financial, :size => '30' %></td>
        </tr>
      </table>
      <br />

      <h3>Materials</h3>
      <table>
        <tr>
          <td>Construction</td>
          <td><%= text_field :property, :mat_construction, :size => '30' %></td>
        </tr>
        <tr>
          <td>Exterior</td>
          <td><%= text_field :property, :mat_exterior, :size => '30' %></td>
        </tr>
        <tr>
          <td>Roof</td>
          <td><%= text_field :property, :mat_roof, :size => '30' %></td>
        </tr>
        <tr>
          <td>Sewer</td>
          <td><%= text_field :property, :mat_sewer, :size => '30' %></td>
        </tr>
        <tr>
          <td>Water</td>
          <td><%= text_field :property, :mat_water, :size => '30' %></td>
        </tr>
        <tr>
          <td>Septic</td>
          <td><%= text_field :property, :mat_septic, :size => '30' %></td>
        </tr>
      </table>
      <br />
</div>

<div id="form_bottom">
  <h3>Property Description</h3>
  <%= text_area_tag(:description, "", :size => "93x5") %>
</div>

<p>
  <%= submit_tag 'Add' %>
</p>

<% end %>
