<tr>
  <td class="noborder"><%= link_to 'Show', contact_path(contact.id) %></td>
  <td class="noborder"><%= link_to 'Edit', edit_contact_path(contact.id) %></td>
  <td><%= contact.first_name %></td>
  <td><%= contact.last_name %></td>
  <td><%= contact.company_name %></td>
  <td><%= contact.company_address %></td>
  <td><%= contact.work_phone %></td>
</tr>
