<% title "Add Contact" %>

<%= error_messages_for 'contact' %>

<% form_for @contact do |f| %>


<div id="property_div">
  <h3>Personal</h3>
  <table>
    <tr class="required">
      <td>First Name *</td>
      <td><%= text_field :contact, :first_name, :size => '57' %></td>
    </tr>
    <tr class="required">
      <td>Last Name *</td>
      <td><%= text_field :contact, :last_name, :size => '57' %></td>
    </tr>
    <tr class="required">
      <td>Category *</td>
      <td><%= select :contact, :category, ["Attorney", "Bank", "City", "Contractor", "Escrow", "Title", "Trustee", "NAWRB Member", "NAWRB Financial", "NAWRB Media", "NAWRB Government", "NAWRB Other"] %></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= text_field :contact, :home_address, :size => '57' %></td>
    </tr>
  </table>
  <br />

  <h3>Company</h3>
  <table>
    <tr>
      <td>Job Title</td>
      <td><%= text_field :contact, :job_title, :size => '57' %></td>
    </tr>
    <tr>
      <td>Company</td>
      <td><%= text_field :contact, :company_name, :size => '57' %></td>
    </tr>
    <tr>
      <td>Company Address</td>
      <td><%= text_field :contact, :company_address, :size => '57' %></td>
    </tr>
  </table>
  <br />

  <h3>Contact</h3>
  <table>
    <tr>
      <td>Preferred Method</td>
      <td><%= select :contact, :preferred_method, %w(Email Cell Work Home Fax) %></td>
    </tr>
    <tr>
      <td>Cell Phone</td>
      <td><%= text_field :contact, :cell_phone, :size => '57' %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= text_field :contact, :email, :size => '57' %></td>
    </tr>
    <tr>
      <td>Work Phone</td>
      <td><%= text_field :contact, :work_phone, :size => '57' %></td>
    </tr>
    <tr>
      <td>Fax</td>
      <td><%= text_field :contact, :fax, :size => '57' %></td>
    </tr>
    <tr>
      <td>Home Phone</td>
      <td><%= text_field :contact, :home_phone, :size => '57' %></td>
    </tr>
  </table>
  <br />
</div>


<%= hidden_field_tag 'pid', params[:pid] %>
<%= hidden_field_tag 'ctype', params[:ctype] %>
<p>
  <%= submit_tag 'Add' %>
</p>

<% end %>
