<% title "#{@contact.first_name} #{@contact.last_name}" %>

<%= error_messages_for 'contact' %>


<div id="property_div">
  <h3>Personal</h3>
  <table>
    <tr>
      <td>First Name</td>
      <td><%= eip({:model => 'contact', :field => 'first_name', :id => @contact.id.to_s, :val => @contact.first_name.to_s}) %></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><%= eip({:model => 'contact', :field => 'last_name', :id => @contact.id.to_s, :val => @contact.last_name.to_s}) %></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= eip({:model => 'contact', :field => 'home_address', :id => @contact.id.to_s, :val => @contact.home_address.to_s}) %></td>
    </tr>
  </table>
  <br />

  <h3>Company</h3>
  <table>
    <tr>
      <td>Job Title</td>
      <td><%= eip({:model => 'contact', :field => 'job_title', :id => @contact.id.to_s, :val => @contact.job_title.to_s}) %></td>
    </tr>
    <tr>
      <td>Company</td>
      <td><%= eip({:model => 'contact', :field => 'company_name', :id => @contact.id.to_s, :val => @contact.company_name.to_s}) %></td>
    </tr>
    <tr>
      <td>Company Address</td>
      <td><%= eip({:model => 'contact', :field => 'company_address', :id => @contact.id.to_s, :val => @contact.company_address.to_s}) %></td>
    </tr>
  </table>
  <br />

  <h3>Contact</h3>
  <table>
    <tr>
      <td>Preferred Method</td>
      <td><%= @contact.preferred_method %></td>
    </tr>
    <tr>
      <td>Cell Phone</td>
      <td><%= eip({:model => 'contact', :field => 'cell_phone', :id => @contact.id.to_s, :val => @contact.cell_phone.to_s}) %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= eip({:model => 'contact', :field => 'email', :id => @contact.id.to_s, :val => @contact.email.to_s}) %></td>
    </tr>
    <tr>
      <td>Work Phone</td>
      <td><%= eip({:model => 'contact', :field => 'work_phone', :id => @contact.id.to_s, :val => @contact.work_phone.to_s}) %></td>
    </tr>
    <tr>
      <td>Fax</td>
      <td><%= eip({:model => 'contact', :field => 'fax', :id => @contact.id.to_s, :val => @contact.fax.to_s}) %></td>
    </tr>
    <tr>
      <td>Home Phone</td>
      <td><%= eip({:model => 'contact', :field => 'home_phone', :id => @contact.id.to_s, :val => @contact.home_phone.to_s}) %></td>
    </tr>
  </table>
  <br />
</div>

